.value-prop-icon p{
    background-image: url(https://code.visualstudio.com/assets/icons/valueprops-top-sprite.svg);
    background-repeat: no-repeat;
    background-size: 420px 250px;
    height: 100%;
}

.value-prop-icon.intellisense p{
    background-position: 0 0;
}

.value-prop-icon.intellisense p:hover{
    
    background-position: 0 -120px;

}
/* h-[50px] w-[50px] bg-no-repeat mt-5 ml-[100px] hover:bg-left-bottom  */